/*{
    border: 1px solid blue;
 }*/

*
{
	
}
body
{
	height: 100%;
	flex-shrink: 0;
	background-color: #f5f5f5;
}
.container
{
	height: 100%;
	flex-shrink: 0;

}
#heading
{
	background-color: #f6b102;
	border-radius: 8px;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
}
#website_name
{
	width: 70%;
	/*display: inline-block;*/
	font-size: 4em;
	font-family: 'Atomic Age', cursive;
	
}

#search_box
{
	width: 30%;
	/*display: inline;*/
	margin-top: 30px;
	float: right;
}

.col-md-2 
 {
 	margin-top: 20px;
 	padding-left: 0px;
 	padding-right: 0px;
 	background-color: #f6b102;
 	border-radius: 3px;
 	height: 100%;
 	flex-shrink: 0;
 	background-color: #f6b102;
 	background: -webkit-linear-gradient(#f6b102, #f5f5f5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6b102,#f5f5f5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6b102, #f5f5f5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6b102, #f5f5f5);
 

 }

 #article_display_section
 {
 	margin-top: 20px;
 }

#navigation
 {
 	list-style:none;
 	font-size: 1.2em;
 	height: 100%;
 	width:100%;
 }
 	


#navigation li
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	


}
#navigation li a:hover
 {
 	background-color: #555;
 	color:white;
 }
 
#navigation li a
 {
 	display:block;
 	text-decoration: none;
 	color:#000;
 	padding: 0px 16px;
 }
 #article_class
 {
 	list-style:none;
 	padding-left: 0px;
 	display: inline;
 	

 }
 #article_class li
 {
 	display: inline;
 	font-size: 1.5em;
 	padding-right: 0px;
 	padding-left: 0px;
 	border-radius: 8px;
 	 
 }

 #article_class button
 {
 	width: 49%;
 	border: 1px solid #000;
 	background-color: #302508;
 	color: white;
 	border-radius: 8px;
 }

 #card_template
 {
 	margin-top: 30px;
 	background-color: #feeab6;
 	border-radius: 10px;
 	box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.2);

 }

 .card-header
 {
 	/*border: 1px solid black;*/
 }
 #art_title
 {
 	width: 70%;
 	display: inline-block;
 	font-size: 2em;
 	padding: 10px;
 }
 #bookmark_button
 {
 	position: static;
 	margin-right: 10px;
 	margin-top: 10px;
 	font-size: 2em;
 	float: right;
 	

 }

 #article_image_holder
 {
 	width: 70%;
 	align-items: center;
 	padding: 10px;
 }
 #article_desc
 {
 	padding: 10px;
 	text-align: justify;
 	/*border: 1px solid black;*/
 }

 .card-footer
 {
 	display: flex;	
 	/*border: 1px solid black;*/
 }
 #rating_stars
 {
 	display: inline;
 	 width: 30%;
 	 padding: 4px;
 	 font-size: 15px;
 }
 .glyphicon glyphicon-star-empty
 {
 	display: inline-block;
 }
 #keyword_list
 {
 	list-style:none;
 	 width: 70%;
 	 float: right;
 }
 #keyword_list li
 {
 	display: inline-block;
 	float: right;
	
	 align-items: right;
	 margin-right: 2px;"
 }
 hr
 {
 	width: 80%;
 	border-top: 1px solid #926901;
 }